html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* max-width: 1000px; */
    margin: auto;
}

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-seri; */


.row{
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}
[class*="col-"]{
    width: 100%;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

/* Header starts */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    text-align: center;
}
.logo i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 2px solid white;  
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 0.9rem;
    line-height: 70px;
    font-family: 'Roboto', sans-seri;
}

nav ul li a:hover{
    border-radius: 10px;
    background-color: black;
}
/* Header ends */


/* main section start */
/* <!-- banner section start --> */
#banner-section{
    background-image: url(images/banner-image.jpg);
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-contents{
    text-align: center;
    padding: 50px 10px;
}

.banner-contents h1{
    width: 100%;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto;
    font-family: 'Handlee', cursive
}

.banner-contents p{
    width: 300px;
    margin: 15px auto;
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px ;
    padding: 10px;
    transition: 4s;
    width: 160px;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
}
/*  <!-- banner section ends --> */

/* about section start */
#about-us{
    padding: 1%;
}

.about-us-contents{
    text-align: center;
}

.about-us-contents h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}
.about-us-contents p{
    font-size: 1rem;
    margin-bottom: 10px;
    
}
/* about section ends */

/* food menu starts */
#menu-section{
    padding: 1%;
}
.card-body{
    text-align: center;
   
}
.card-body img{
    max-width: 100%;
    display: block;
}
.items-desc{
    background-color: gray;
}

.items-desc h3{
    background-color: green;
    color: white;
    padding: 10px;
}

.items-desc p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bolder;
}

.card{
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}
/* food menu ends */

/* contact start */
#contact{
    padding: 1%;
    background-color: gray;
}

.map{
    width: 100%;
    height: 250px;
}
.contact-details{
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.hr{
    border: dotted 6px beige;
    border-bottom: none;
    width: 180px;
    margin: 8px auto;
}

.contact-details p address{
    font-size: 1.8rem;
}
/* contact ends */
/* main section ends */

/* footer starts */
footer{
    padding: 1%;
    color: white;
    background-color: rgb(9, 7, 11);
}

footer p{
    line-height: 32px;
    font-size: 1rem;
    text-align: center;
}
.social-menus{
    text-align: center;
}

.fa-solid{
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 32px;
    margin: 0 10px;
    transition: 4s;
    text-align: center;
}
.fa-brands {
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 32px;
    margin: 0 10px;
    transition: 4s;
    text-align: center;
}

.fa-solid:hover{
    background-color: gray;
    transform: scale(1.2);
}

.fa-brands:hover{
    background-color: gray;
    transform: scale(1.2);
}
/* footer ends */
  /* mediam device (protrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 576px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  /* mediam device (protrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  }

  /* large device (protrait tablets and large phones, 992px and up) */
@media only screen and (min-width: 992px) {

    .logo{
        text-align: left;
    }
    nav ul{
        text-align: right;
        
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;
    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: underline;
    }
    nav ul li{
        display: inline-block;
    }

    /* banner start */
     /* #banner-section{
        position: relative;
        height: 100vh;
     }
     .banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        text-align: center;
        justify-content: center;
     } */

     .banner-contents h1{
        width: 500px;
        height: 100px;
        padding: 20px;
       
     }
     
     .banner-contents p{
        width: 300px;
        height: 100px;
        padding: 20px;
     }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }